.GameContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;

    /* HIDE SCROLLBAR */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.GameContainer::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.GameContainer {
}

.GameHeader {
    display: flex;
    justify-content: flex-end;
    margin-left: 5em;
    margin-right: 5em;
    align-items: center;
    color: white;
    font-size: 2em;
    height: 5%;
}

.TimeCounter {
    font-size: 3.5em;
    align-self: center;
}

.Question {
    align-self: center;
    font-size: 2.5em;
    color: #ffffff;
}

.TableContainer {
    position: relative;
    align-self: center;
    height: 40%;
}

.TableImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ALL 5 CARDS */
.TableCardsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SINGLE CARD */
.TableCard {
    height: 100%;
    margin: 1em;
}

.PlayerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 20%;
}

.OptionContainer {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    background-color: #02228268;
    margin: 1em;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}


.OptionContainer:hover {
    display: flex;
    flex-direction: row;
    background-color: #0339db68;
    padding: 20px;
    border-radius: 20px;
    margin: 1em;
    cursor: pointer;
}

.PlayerChance {
    font-size: 2em;
    color: white;
}

.OptionCardLeft {
    margin-right: 0.5rem;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.OptionCardRight {
    margin-left: 0.5rem;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.WelcomeTitle {
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 0.3em;
}

.StartQuizContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000cc;
}

.StartQuizButton {
    background-color: #410aae;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    font-size: 3em;
    color: white;
}

.ResultContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000044;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* RESULT MODAL */

.ResultModal {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70%;
    background-color: #3b07a2ef;
    border-radius: 30px;
    padding: 1em;
    /* ANIMATION */
    transform: scale(0);
    animation: spawn 0.3s ease-out forwards; 
}

@keyframes spawn {
    0% {
      opacity: 0;
      transform: scale(0); 
    }
    100% {
      opacity: 1; 
      transform: scale(1);
    }
}

.ScoreTitle {
    font-size: 2.8em;
    color: white;
    text-align: center;
}

.HandsResults {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    justify-content: flex-start;
    padding: 20px;
    box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.15), /* Top shadow */
              inset 0 -10px 10px -5px rgba(0, 0, 0, 0.15); /* Bottom shadow */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.HandsResults::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.HandsResults {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.HandContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    flex: 1;
    margin-bottom: 2em;
}

.HandCard {
    object-fit: contain;
    flex-grow: 1;
    max-width: 100%;
    height: auto;
    width: 1em;
    margin: 2px;
}

.HandCardPlayer {

}

.PlayerCardResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.ResultRound {
    flex: 1;
    font-size: 2.2em;
}

.ResultScore {
    flex: 1;
    font-size: 2.2em;
    margin-left: 1em;
}

.TableCards {
    flex: 5;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 1em;
}

.PlayerOneCards {
    flex: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 1em;
    position: relative;
}

.PlayerTwoCards {
    flex: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.Correct {
    background-color: #126f0872;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #126f08;
    z-index: 100;

}

.ResultPlayerChance {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -65%;
    left: 0;
    display: grid;
    place-items: center;
    text-align: center;        
    color: #ffffff;
    z-index: 100;
}

.ResultButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}


.LeaderboardButton,
.TryAgainButton,
.SaveToSolanaButton {
    width: 150px;
    height: 50px;
    background-color: #250760;
    border-radius: 10px;
    font-size: 1.2em;
    color: white;
    margin: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.LeaderboardButton:hover,
.TryAgainButton:hover,
.SaveToSolanaButton:hover {
    background-color: #430eab;
    cursor: pointer;
}