
.LeaderboardPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-top: 2em;
}

.LeaderboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 3em;
    width: 50%;
    margin-top: 2em;    
    border-radius: 1em;
    border: 1px solid #2e2d5a;
}

.LeaderboardMemberContainerZero {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 1em 5em;
    width: 100%;
    justify-content: space-between;
    background-color: #2e2d5a;    
    box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.2); /* Right and Top shadow */

}

.LeaderboardMemberContainerOne {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 1em 5em;
    width: 100%;
    justify-content: space-between;
    background-color: #21204A;  
    box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.2); /* Right and Top shadow */

}


.LeaderboardMemberUser {
    display: flex;
    flex-direction: row;
}

.LeaderboardMember {
    margin: 0 1em;
    font-size: 2em;
} 

